body{
	background-color: #87CEFA; /* hexcode for lightskyblue */
}	
img{
	width: 100%;	
}

#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	
}
#list{
	background-color: red;
}

#refreshButton{
	width: 50%;
}